@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Seção Header */
body{
    font-family: 'Lato', sans-serif;
    background-color: #F9F4E8;
    height: 100vh;
    overflow: hidden;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
}

.menu .logo{
    display: flex;
    align-items: center;
   
}
.menu .logo img,
.menu .logo a{
    padding: 0 10px;
}
.menu .logo a{
    text-decoration: none;
    color: #F9F4E8;
    background-image: linear-gradient(to right, #f4a261, #f72585);
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 700;
}

.menu .nav-menu a{
    padding: 0 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #525252;
}

.menu .user-area a{
    color: #525252;
    padding: 0 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.menu .user-area button{
    background-color: #4977EA;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 15px;
    cursor: pointer;
    transition-duration: .3s;
}
.menu .user-area button:hover{
    background-color: #3069fa;
}
/* Fim Seção Header */


/* Seção Hero */
main{
    width: 100%;
    height: 78%;
}
main .hero{
    display: flex;
    width: 100%;
    height: 100%;

}
main .hero .ls,
main .hero .rs{
    width: 50%;
    
}

main .hero .ls{
padding: 0 110px;
margin-top: 70px;
}
main .hero .ls h1{
    font-size: 52px;
    font-family: 'Playfair';

}

main .hero .ls p{
   margin: 20px 0 15px 0;
   color: #525252;
}

.hero .ls .input{
    margin-bottom: 20px;
    display: flex;
}
.hero .ls .input input{
    height: 45px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    width: 60%;
    padding: 0 0 0 20px;
}

.hero .ls .content .input input::placeholder{
    font-weight: 600;
    font-size: 12px;
}

.hero .ls .input button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 15px 20px;
    background-color: #4977EA;
    border: none;
    border-radius: 3px;
    color: #fff;
    transition-duration: .3s;
    cursor: pointer;

}
.hero .ls .input button:hover{
    background-color: #3069fa;
}

.hero .ls .content .sub-notice{
    display: flex;
    align-items: center;
}
.hero .ls .content .sub-notice span{
    margin: 0 10px;
    color: #525252;
}

/* Right Side */
main .hero .rs{
    position: relative;
}

main .hero .rs .images img{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 42%;
    height: auto;
}

main .hero .rs img:first-child{
    z-index: 4;
}

.hero .rs .images img:nth-child(2){
    transform: rotate(-15deg) translate(-35%, -60%);
    z-index: 3;
}

.hero .rs .images img:nth-child(3){
    transform: rotate(-30deg) translate(-15%, -65%);
    z-index: 2;
}

.hero .rs .images img:nth-child(4){
    transform: rotate(-45deg) translate(5%, -70%);
    z-index: 1;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 110px 0 110px;
    
}


footer .links{
    display: flex;
    align-items: center;

}

footer .links a:first-child{
    padding-right: 10px;
    text-decoration: none;
}

footer .links a:not(:first-child){
    text-decoration: none;
    padding: 0 10px;
}

footer .links a{
    color: #525252;
    font-weight: 600;
    font-size: 14px;
}

.help{
    display: flex;
}

footer .help .specialist span:first-child{
    color: #525252;
    font-family: 'Playfair';
    font-weight: 600;
}

footer .help .specialist span:last-child{
font-size: 13px;
font-family: 'Playfair', sans-serif;
font-weight: 700;
}

.help img{
    width: 35px;
    height: auto;
    margin-right: 10px;
}

/* ### LINKS HOVER ### */
body a{
    transition-duration: .5s;
}
body a:hover{
    color: #181717;
}

/* ### END LINKS HOVER ### */
